.App {
}

.App a {
  color: #26738d;
}

.App h1 {
  font-size: 2rem;
}

.App h2 {
  color: #353944;
}

.App h3 a {
  color: #353944;
}

.App .container {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

.App-header a {
  color: #fff;
  font-weight: normal;
}
.App-header ul {
  padding: 0;
}

.App-header li {
  list-style: none;
  display: inline;
  padding: 1rem;
  font-weight: bold;
}

.App-header li:first-child {
  padding-left: 0;
}

.App article {
  padding: 1rem;
}

.App article ul {
  margin: 0;
  padding: 0;
}

.App article ul li {
  list-style: none;
}

.App article h3 {
  font-size: calc(14px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-message {
  background-color: #55a9d6;
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

.App-message.saved {
  background: #51bb7a;
}

.App-message.deleted {
  background: #ff3f69;
}

.App form {
  padding: 1rem;
}

.App form input {
  border: 1px solid #ccc;
  padding: 0.3rem;
}

.App form label {
  display: block;
  padding: 0.5rem 0;
}

.App form input#form-title {
  min-width: calc(100% - 20px);
  padding: 10px;
  font-size: 1rem;
}

.App form .ql-editor {
  min-height: 4rem;
}

.App form button[type='submit'] {
  border: 1px #ccc solid;
  background: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.App form button[type='submit']:hover {
  cursor: pointer;
}

.App button.linkLike {
  border: none;
  font-size: inherit;
  color: #26738d;
  text-decoration: underline;
}

.App button.linkLike:hover {
  cursor: pointer;
}

button.linkLike {
  background:inherit;
  border: none;
  color: #26738D;
  font-size: inherit;
  text-decoration: underline;
}
button.linkLike:hover {
  cursor: pointer;
}